RewriteEngine On

# Excluding Specific Files from Rewriting
RewriteCond %{REQUEST_URI} !^/(mobiles|laptops|watches|televisions|headsets)/index\.php$
RewriteCond %{REQUEST_URI} !^/(mobiles|laptops|watches|televisions|headsets)/action\.php$
RewriteCond %{REQUEST_URI} !^/(mobiles|laptops|watches|televisions|headsets)/product_listing\.php$
RewriteCond %{REQUEST_URI} !^/(mobiles|laptops|watches|televisions|headsets)/submit_rating\.php$
# Temporary Excluding "compare.php"
RewriteCond %{REQUEST_URI} !^/(mobiles|laptops|watches|televisions|headsets)/compare\.php$


# For rewriting slug to product page
RewriteRule ^(mobiles|laptops|watches|televisions|headsets)/([^/]+)/?$ $1/product.php?slug=$2 [QSA,L]